**/.venv
**/.idea
**/.pytest_cache
**/.ruff_cache
**/__pycache__
**/.mypy_cache
**/.git
**/.github
**/Dockerfile
**/build
**/assets
**/dist
examples
Makefile
.dockerignore
.gitignore
.pre-commit-config.yaml
LICENSE
